@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>CodeGen Admin UI Test</title>

        <link href="~/Content/bootstrap.min.css" rel="stylesheet" /> 

        <script src="~/Scripts/jquery-2.1.0.min.js"></script>
        <script src="~/Scripts/angular.js"></script>
        <script src="~/Scripts/bootstrap.js"></script> 

        <script type="text/javascript">

            var Umbraco = { Sys: { ServerVariables: { umbracoSettings: {} } } };
            Umbraco.Sys.ServerVariables.umbracoSettings.umbracoPath = "";
            Umbraco.Sys.ServerVariables.umbracoSettings.appPluginsPath = "/App_Plugins";
            angular.module("umbraco", []);

            angular.module('umbraco')
                .factory('notificationsService', function() {
                    return {
                        showNotification: function(args) {
                            alert("Type: " + args.type + "\n" + "Header: " + args.header + "\n" + "Message: " + args.message);
                        }
                    }
                });
        </script>

        <script src="~/App_Plugins/CodeGen/codegen.configuration.controller.js"></script>
    </head>
    <body>
        <div ng-app="umbraco">
            <div ng-include="'/App_Plugins/CodeGen/codegen.configuration.html'">
            </div>
        </div>
    </body>
</html>