<CodeGenerator OverwriteReadOnly="false">
  <DocumentTypes ModelPath="Models/DocumentTypes" Namespace="MyWeb.Models" BaseClass="Umbraco.CodeGen.WaitForSixTwo.PublishedContentModel" GenerateClasses="true" GenerateXml="false"/>
  <MediaTypes ModelPath="Models/MediaTypes" Namespace="MyWeb.Models" BaseClass="Umbraco.CodeGen.WaitForSixTwo.PublishedContentModel" GenerateClasses="true" GenerateXml="false"/>
  <TypeMappings>
    <TypeMapping DataTypeId="Umbraco.TrueFalse" Type="Boolean"/>
    <TypeMapping DataTypeId="Umbraco.Integer" Type="Int32"/>
    <TypeMapping DataTypeId="Umbraco.TinyMCEv3" Type="System.Web.IHtmlString" Description="Rich Text Editor"/>
    <TypeMapping DataTypeId="Umbraco.UploadField" Type="Int32"/>
    <TypeMapping DataTypeId="Umbraco.DateTime" Type="DateTime"/>
    <TypeMapping DataTypeId="Umbraco.FolderBrowser" Type="Object"/>
    <TypeMapping DataTypeId="Umbraco.Date" Type="DateTime"/>
    <TypeMapping DataTypeId="Umbraco.DropDown" Type="Int32"/>
    <TypeMapping DataTypeId="Umbraco.ContentPickerAlias" Type="Int32"/>
    <TypeMapping DataTypeId="Umbraco.MediaPicker" Type="Int32"/>
    <TypeMapping DataTypeId="Umbraco.MemberPicker" Type="Int32"/>
    <TypeMapping DataTypeId="Umbraco.DropdownlistPublishingKeys" Type="Int32"/>
  </TypeMappings>
</CodeGenerator>