<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
	<Name>#Prefixed Child</Name>
	<Alias>pfxChild</Alias>
	<Icon>folder.gif</Icon>
	<Thumbnail>folder.png</Thumbnail>
	<Description>
	</Description>
	<AllowAtRoot>False</AllowAtRoot>
	<Master>pfxRoot</Master>
	<AllowedTemplates />
	<DefaultTemplate>
	</DefaultTemplate>
  </Info>
  <Structure />
  <GenericProperties>
	<GenericProperty>
	  <Name>#MainImage</Name>
	  <Alias>pfxMainImage</Alias>
	  <Type>ead69342-f06d-4253-83ac-28000225583b</Type>
	  <Definition>e2651a57-597d-4186-9110-956182b90b80</Definition>
	  <Tab>#ContentTab</Tab>
	  <Mandatory>False</Mandatory>
	  <Validation>
	  </Validation>
	  <Description><![CDATA[]]></Description>
	</GenericProperty>
  </GenericProperties>
  <Tabs>
  </Tabs>
</DocumentType>