<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>#MP Billboard Item</Name>
    <Alias>mpBillboard</Alias>
    <Icon>image.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>#BillboardItemDescriptionMp</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>mpContent</Master>
    <AllowedTemplates />
    <DefaultTemplate>
    </DefaultTemplate>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</DocumentType>