<div class="row-fluid">
    <div class="span2">
        <label>
            Behavior:
        </label>
    </div>
    <div class="span2">
        <label>
            <input type="checkbox" ng-model="contentType.type.GenerateClasses"/>
            Generate classes
        </label>
    </div>
    <div class="span2">
        <label>
            <input type="checkbox" ng-model="contentType.type.GenerateXml" />
            Generate XML
        </label>
    </div>
</div>
<div class="row-fluid">
    <div class="span2">
        <label>Model path:</label>
    </div>
    <div class="span10">
        <input type="text" class="input-block-level" ng-model="contentType.type.ModelPath"/>
    </div>
</div>
<div class="row-fluid">
    <div class="span2">
        <label>Namespace:</label>
    </div>
    <div class="span10">
        <input type="text" class="input-block-level" ng-model="contentType.type.Namespace" />
    </div>
</div>
<div class="row-fluid">
    <div class="span2">
        <label>Base class:</label>
    </div>
    <div class="span10">
        <input type="text" class="input-block-level" ng-model="contentType.type.BaseClass"/>
    </div>
</div>
