<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>#MP Contact</Name>
    <Alias>mpContact</Alias>
    <Icon>email.png</Icon>
    <Thumbnail>doc.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>mpContent</Master>
    <AllowedTemplates>
      <Template>ContactMP</Template>
    </AllowedTemplates>
    <DefaultTemplate>ContactMP</DefaultTemplate>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs>
    <Tab>
      <Id>15</Id>
      <Caption>#ContactTabMp</Caption>
    </Tab>
  </Tabs>
</DocumentType>