<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>#MP Employee List</Name>
    <Alias>mpEmployeeList</Alias>
    <Icon>folder.gif</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>mpListPage</Master>
    <AllowedTemplates>
      <Template>EmployeeListMP</Template>
    </AllowedTemplates>
    <DefaultTemplate>EmployeeListMP</DefaultTemplate>
  </Info>
  <Structure>
    <DocumentType>mpEmployee</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>