<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
	<Name>#SamePropertyName</Name>
	<Alias>samePropertyName</Alias>
	<Icon>folder.gif</Icon>
	<Thumbnail>folder.png</Thumbnail>
	<Description>
	</Description>
	<AllowAtRoot>False</AllowAtRoot>
	<Master/>
	<AllowedTemplates />
	<DefaultTemplate>
	</DefaultTemplate>
  </Info>
  <Structure />
  <GenericProperties>
	<GenericProperty>
	  <Name>#SamePropertyName</Name>
	  <Alias>samePropertyName</Alias>
	  <Type>ec15c1e5-9d90-422a-aa52-4f7622c63bea</Type>
	  <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
	  <Tab>Properties</Tab>
	  <Mandatory>False</Mandatory>
	  <Validation>
	  </Validation>
	  <Description><![CDATA[]]></Description>
	</GenericProperty>
  </GenericProperties>
  <Tabs>
  </Tabs>
</DocumentType>