<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>#MP Page</Name>
    <Alias>mpPage</Alias>
    <Icon>.sprTreeDoc4</Icon>
    <Thumbnail>docWithImage.png</Thumbnail>
    <Description>#PageDescriptionMp</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>mpListableContent</Master>
    <AllowedTemplates>
      <Template>PageMP</Template>
    </AllowedTemplates>
    <DefaultTemplate>PageMP</DefaultTemplate>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>#ReadMoreLinkMp</Name>
      <Alias>readMoreLink</Alias>
      <Type>ec15c1e5-9d90-422a-aa52-4f7622c63bea</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>#ListTabMp</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[#ReadMoreLinkDescriptionMp]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>#SummaryMp</Name>
      <Alias>summary</Alias>
      <Type>f8d60f68-ec59-4974-b43b-c46eb5677985</Type>
      <Definition>0225af17-b302-49cb-9176-b9f35cab9c17</Definition>
      <Tab>#ContentTabMp</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>11</Id>
      <Caption>#ListTabMp</Caption>
    </Tab>
    <Tab>
      <Id>17</Id>
      <Caption>#ContentTabMp</Caption>
    </Tab>
  </Tabs>
</DocumentType>