<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>#MP Site Content</Name>
    <Alias>mpSiteContent</Alias>
    <Icon>layout_content.png</Icon>
    <Thumbnail>folder_media.png</Thumbnail>
    <Description>#SiteContentDescriptionMp</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>mpStandard</Master>
    <AllowedTemplates>
      <Template>ContentRedirectMP</Template>
    </AllowedTemplates>
    <DefaultTemplate>ContentRedirectMP</DefaultTemplate>
  </Info>
  <Structure>
    <DocumentType>mpListPage</DocumentType>
    <DocumentType>mpPage</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>