<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>#MP Billboard Folder</Name>
    <Alias>mpBillboardFolder</Alias>
    <Icon>folder_picture.png</Icon>
    <Thumbnail>folder_media.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>mpStandard</Master>
    <AllowedTemplates />
    <DefaultTemplate>
    </DefaultTemplate>
  </Info>
  <Structure>
    <DocumentType>mpBillboard</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>