<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>EmployeeLinkTest</Name>
    <Alias>EmployeeLinkTest</Alias>
    <Icon>folder.gif</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>mpContent</Master>
    <AllowedTemplates>
      <Template>EmployeeLinkTest</Template>
    </AllowedTemplates>
    <DefaultTemplate>EmployeeLinkTest</DefaultTemplate>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Linked employees</Name>
      <Alias>linkedEmployees</Alias>
      <Type>cdbf0b5d-5cb2-445f-bc12-fcaaec07cf2c</Type>
      <Definition>78e6184a-8399-4984-9a9f-66d8621248b7</Definition>
      <Tab>
      </Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>testrelations</Name>
      <Alias>testrelations</Alias>
      <Type>71b8ad1a-8dc2-425c-b6b8-faa158075e63</Type>
      <Definition>21e798da-e06e-4eda-a511-ed257f78d4fa</Definition>
      <Tab>
      </Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs />
</DocumentType>