<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>#MP Site</Name>
    <Alias>mpSite</Alias>
    <Icon>settingDomain.gif</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>#SiteDescriptionMp</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>mpStandard</Master>
    <AllowedTemplates>
      <Template>ContentRedirectMP</Template>
    </AllowedTemplates>
    <DefaultTemplate>ContentRedirectMP</DefaultTemplate>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</DocumentType>