<?xml version="1.0" encoding="utf-8"?>
<CodeGenerator xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" OverwriteReadOnly="true" GeneratorFactory="Umbraco.CodeGen.Generators.DefaultCodeGeneratorFactory" ParserFactory="Umbraco.CodeGen.Parsers.DefaultParserFactory">
  <DocumentTypes ModelPath="Models/DocumentTypes" BaseClass="PublishedContentModel" GenerateClasses="true" GenerateXml="true" Namespace="ThisWeb.Models" />
  <MediaTypes ModelPath="Models/MediaTypes" BaseClass="PublishedContentModel" GenerateClasses="true" GenerateXml="true" Namespace="ThisWeb.Models" />
  <TypeMappings>
    <TypeMapping DataTypeId="Umbraco.TrueFalse" Type="Boolean" />
    <TypeMapping DataTypeId="Umbraco.TinyMCEv3" Type="System.Web.IHtmlString" Description="Rich Text Editor" />
    <TypeMapping DataTypeId="Umbraco.UploadField" Type="Int32" />
    <TypeMapping DataTypeId="Umbraco.DateTime" Type="DateTime" />
    <TypeMapping DataTypeId="Umbraco.FolderBrowser" Type="Object" />
    <TypeMapping DataTypeId="Umbraco.Date" Type="DateTime" />
    <TypeMapping DataTypeId="Umbraco.DropDown" Type="Int32" />
    <TypeMapping DataTypeId="Umbraco.ContentPickerAlias" Type="Int32" />
    <TypeMapping DataTypeId="Umbraco.MediaPicker" Type="Int32" />
    <TypeMapping DataTypeId="Umbraco.MemberPicker" Type="Int32" />
    <TypeMapping DataTypeId="Umbraco.DropdownlistPublishingKeys" Type="Int32" />
    <TypeMapping DataTypeId="Umbraco.CheckBoxList" Type="System.Collections.Generic.List&lt;String&gt;" Description="A list of strings" />
    <TypeMapping DataTypeId="Umbraco.Integer" Type="Int32" Description="" />
  </TypeMappings>
</CodeGenerator>