<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>#MP Element</Name>
    <Alias>mpElement</Alias>
    <Icon>brick.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>#ElementDescriptionMp</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>mpContent</Master>
    <AllowedTemplates />
    <DefaultTemplate>
    </DefaultTemplate>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>#ElementLinkMp</Name>
      <Alias>elementLink</Alias>
      <Type>158aa029-24ed-4948-939e-c3da209e5fba</Type>
      <Definition>a6857c73-d6e9-480c-b6e6-f15f6ad11125</Definition>
      <Tab>#ContentTabMp</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[#ElementLinkDescriptionMp]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>#ReadMoreMp</Name>
      <Alias>readMore</Alias>
      <Type>ec15c1e5-9d90-422a-aa52-4f7622c63bea</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>#ContentTabMp</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>14</Id>
      <Caption>#ContentTabMp</Caption>
    </Tab>
  </Tabs>
</DocumentType>