<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Richtext editor" Id="Umbraco.TinyMCEv3" Definition="ca90c950-0aff-4e72-b976-a30b1ac57dad" DatabaseType="Ntext">
  <PreValues>
    <PreValue Id="3" Value=",code,undo,redo,cut,copy,mcepasteword,stylepicker,bold,italic,bullist,numlist,outdent,indent,mcelink,unlink,mceinsertanchor,mceimage,umbracomacro,mceinserttable,umbracoembed,mcecharmap,|1|1,2,3,|0|500,400|1049,|true|" Alias="0" SortOrder="0" />
  </PreValues>
  <Hash>2dcb8aca3ac7d8f0cca7920e6dc7e707</Hash>
</DataType>