<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DataType Name="Richtext editor" Id="5e9b75ae-face-41c8-b47e-5f4b0fd82f83" Definition="ca90c950-0aff-4e72-b976-a30b1ac57dad">
  <PreValues>
    <PreValue Id="3" Value=",code,undo,redo,cut,copy,mcepasteword,stylepicker,bold,italic,bullist,numlist,outdent,indent,mcelink,unlink,mceinsertanchor,mceimage,umbracomacro,mceinserttable,umbracoembed,mcecharmap,|1|1,2,3,|0|500,400|1049,|true|" />
  </PreValues>
</DataType>