<?xml version="1.0" encoding="utf-8"?>
<DataType Name="Tags" Id="Umbraco.Tags" Definition="b6b73142-b9c1-4bf8-a16d-e1c23320b549" DatabaseType="Ntext">
  <PreValues>
    <PreValue Id="4" Value="default" Alias="group" SortOrder="0" />
  </PreValues>
  <Hash>bc82e384143f864182f1aa796ff3b112</Hash>
</DataType>