<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>#MP Settings</Name>
    <Alias>mpSettings</Alias>
    <Icon>.sprTreeDeveloperMacro</Icon>
    <Thumbnail>developer.png</Thumbnail>
    <Description>#SettingsDescriptionMp</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>mpStandard</Master>
    <AllowedTemplates />
    <DefaultTemplate>
    </DefaultTemplate>
  </Info>
  <Structure>
    <DocumentType>mpFooter</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Type>5032a6e6-69e3-491d-bb28-cd31cd11086c</Type>
      <Definition>84c6b441-31df-4ffe-b67e-67d5bc3ae65a</Definition>
      <Tab>#MP Settings</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>16</Id>
      <Caption>#MP Settings</Caption>
    </Tab>
  </Tabs>
</DocumentType>