<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>#MP Frontpage</Name>
    <Alias>mpFrontpage</Alias>
    <Icon>docPic.gif</Icon>
    <Thumbnail>folder_media.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>mpContent</Master>
    <AllowedTemplates>
      <Template>FrontpageMP</Template>
    </AllowedTemplates>
    <DefaultTemplate>FrontpageMP</DefaultTemplate>
  </Info>
  <Structure>
    <DocumentType>mpBillboardFolder</DocumentType>
    <DocumentType>mpElementFolder</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>