<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>#MP Footer</Name>
    <Alias>mpFooter</Alias>
    <Icon>page.png</Icon>
    <Thumbnail>mediaFile.png</Thumbnail>
    <Description>
    </Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>mpStandard</Master>
    <AllowedTemplates />
    <DefaultTemplate>
    </DefaultTemplate>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>#Column1Mp</Name>
      <Alias>column1</Alias>
      <Type>5e9b75ae-face-41c8-b47e-5f4b0fd82f83</Type>
      <Definition>e11976bc-159b-4d9a-99e4-c4d8a583eab2</Definition>
      <Tab>#FooterTabMp</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>#Column2Mp</Name>
      <Alias>column2</Alias>
      <Type>5e9b75ae-face-41c8-b47e-5f4b0fd82f83</Type>
      <Definition>e11976bc-159b-4d9a-99e4-c4d8a583eab2</Definition>
      <Tab>#FooterTabMp</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>#Column3Mp</Name>
      <Alias>column3</Alias>
      <Type>5e9b75ae-face-41c8-b47e-5f4b0fd82f83</Type>
      <Definition>e11976bc-159b-4d9a-99e4-c4d8a583eab2</Definition>
      <Tab>#FooterTabMp</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>#Column4Mp</Name>
      <Alias>column4</Alias>
      <Type>5e9b75ae-face-41c8-b47e-5f4b0fd82f83</Type>
      <Definition>e11976bc-159b-4d9a-99e4-c4d8a583eab2</Definition>
      <Tab>#FooterTabMp</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>10</Id>
      <Caption>#FooterTabMp</Caption>
    </Tab>
  </Tabs>
</DocumentType>