<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<DocumentType>
  <Info>
    <Name>#MP Content</Name>
    <Alias>mpContent</Alias>
    <Icon>folder.gif</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>MarkedsPartner standard innhold.
Basetype. Ikke mulig å lage noder av denne.</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <Master>mpMetadata</Master>
    <AllowedTemplates />
    <DefaultTemplate>
    </DefaultTemplate>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>#HeadingMp</Name>
      <Alias>heading</Alias>
      <Type>ec15c1e5-9d90-422a-aa52-4f7622c63bea</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>#ContentTabMp</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[#HeadingDescriptionMp]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>#MainImageMp</Name>
      <Alias>mainImage</Alias>
      <Type>ead69342-f06d-4253-83ac-28000225583b</Type>
      <Definition>e2651a57-597d-4186-9110-956182b90b80</Definition>
      <Tab>#ContentTabMp</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[]]></Description>
    </GenericProperty>
    <GenericProperty>
      <Name>#BodyMp</Name>
      <Alias>body</Alias>
      <Type>5e9b75ae-face-41c8-b47e-5f4b0fd82f83</Type>
      <Definition>e11976bc-159b-4d9a-99e4-c4d8a583eab2</Definition>
      <Tab>#ContentTabMp</Tab>
      <Mandatory>False</Mandatory>
      <Validation>
      </Validation>
      <Description><![CDATA[Her er litt ekstra på body]]></Description>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>6</Id>
      <Caption>#ContentTabMp</Caption>
    </Tab>
  </Tabs>
</DocumentType>